@model IEnumerable<TouchTypingGo.Application.ViewModels.LeconPresentationViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpeedReference)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeReference)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrecisionReference)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FontSize)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeedReference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeReference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecisionReference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FontSize)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
