
<section class="featured">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row" data-appear-animation="fadeInRight">
                    <div class="col-md-4">
                        <div class="feature-box secundary">
                            <a href=@localizer["LkInicianteLista"] class="feature-box-icon">
                                <i class="fa fa-flag"></i>
                            </a>
                            <div class="feature-box-info">
                                <a href="@localizer["LkInicianteLista"]" class="alternative-font">@localizer["Iniciante"]</a>
                                <p class="tall">@localizer["Suporte_inicial_para_quem_nao_tem"]</p>
                            </div>
                        </div>

                        <div class="feature-box secundary">
                            <a href="@localizer["LkBasicoLista"]" class="feature-box-icon">
                                <i class="fas fa-external-link-alt"></i>
                            </a>
                            <div class="feature-box-info">
                                <a href="@localizer["LkBasicoLista"]" class="alternative-font">@localizer["Basico"]</a>
                                <p class="tall">@localizer["As_licoes_dessa_categoria_conta_com_palavras_soltas"]</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-box secundary">
                            <a href="@localizer["LkIntermediarioLista"]" class="feature-box-icon">
                                <i class="fa fa-hourglass-half"></i>
                            </a>
                            <div class="feature-box-info">
                                <a href="@localizer["LkIntermediarioLista"]" class="alternative-font">@localizer["Intermediario"]</a>
                                <p class="tall">@localizer["As_licoes_dessa_categoria_contam_com_frases_pequenas"]</p>
                            </div>
                        </div>
                        <div class="feature-box secundary">
                            <a href="@localizer["LkAvancadoLista"]" class="feature-box-icon">
                                <i class="fas fa-chart-line"></i>
                            </a>
                            <div class="feature-box-info">
                                <a href="@localizer["LkAvancadoLista"]" class="alternative-font">@localizer["Avancado"]</a>
                                <p class="tall">@localizer["Essa_categoria_e_consituida_de_textos_mais_longos"]</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-box secundary">
                            <a href="@localizer["LkReforcoLista"]" class="feature-box-icon">
                                <i class="fas fa-sync-alt"></i>
                            </a>
                            <div class="feature-box-info">
                                <a href="@localizer["LkReforcoLista"]" class="alternative-font">@localizer["Reforco"]</a>
                                <p class="tall">@localizer["As_licoes_dessa_categoria_sao_criados_dinamicamente"]</p>
                            </div>
                        </div>
                        <div class="feature-box secundary">
                            <a href="@localizer["lkCriarLicaoMeuProprioTexto"]" class="feature-box-icon">
                                <i class="fa fa-text-width"></i>
                            </a>
                            <div class="feature-box-info">
                                <a href="@localizer["lkCriarLicaoMeuProprioTexto"]" class="alternative-font">@localizer["MeusTextos"]</a>
                                <p class="tall">@localizer["O_digitador_pode_inserir_textos_proprios"]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>