<
<div>
    <img src="~/images/bg_home.png" alt="mastertouchtyping_bg/" style="width:100%" />
</div>


<div class="">
    <div class="container text-center">

        <span class="button-container text-left">
            <a data-appear-animation="fadeInLeft"
               href="@localizer["LkInicianteLista"]" data-track-link="true"
               data-track-cta="View" data-track-type="how_it_works" data-track-id="21333"
               class="btn btn-lg btn-primary btn-min-width btnInicie">
                @localizer["IniciarAgoraMesmo"]
            </a>
        </span>
        <hr class="tall" />
        <h1>@localizer["Curso_de_digitacaoo_on_line_gratis"]</h1>
    </div>
    <hr class="tall" />
    @Html.Partial("~/Views/Home/_itens.cshtml")


    <div class="col-md-12">
        <div class="container">
            <hr class="tall" />
            <div class="row push-top">
                <a href="@localizer["LkInicianteLista"]" class="col-md-4 push-top" data-appear-animation="fadeInLeft">
                    <i class="fa fa-keyboard-o imgTxt1"></i>
                </a>
                <div class="col-md-8" data-appear-animation="fadeInRight">
                    <div id="textoHome1">
                        <h2 class="push-top"><strong>@localizer["Digitacao"]</strong> @localizer["com_tecninca_usando_os_10_dedos"]</h2>
                        <p class="lead">
                            @localizer["O_Curso_de_digitacao_gratuito_online_dispoe_de_um_metodo_evolutivo"]
                        </p>
                        <p>
                            @localizer["Por_mais_que_o_usuario_ja_tenha_uma_digitacao_rapida"]
                        </p>
                    </div>
                </div>
            </div>
            <hr class="tall" />
            <div class="row">
                <div class="col-md-7" data-appear-animation="fadeInLeft">
                    <div id="textoHome2">
                        <h2 class="push-top">@localizer["Estude_com_seus"] <strong>@localizer["Proprios_textos!"]</strong></h2>
                        <p class="lead">
                            @localizer["Crie_licoes_utilizando_seus_proprios_textos"]
                        </p>
                        <p>
                            @localizer["Muito_pratico_quando_se_precisa"]
                        </p>
                    </div>
                </div>
                <a href="@localizer["lkCriarLicaoMeuProprioTexto"]" class="col-md-4 col-md-offset-1 push-top" data-appear-animation="fadeInRight">
                    <i class="fa fa-font imgTxt2"></i>
                    @*<img class="img-responsive" src="~/img/text.png" alt="style switcher" data-appear-animation="fadeInRight">*@
                </a>
            </div>

            <hr class="tall" />
            <div class="row push-top">
                <div class="col-md-4 push-top" data-appear-animation="fadeInLeft">
                    <i class="fa fa-bar-chart imgTxt3"></i>
                    @*<img class="img-responsive" src="~/img/keyboard-dedos.jpg" alt="layout styles" data-appear-animation="fadeInLeft">*@
                </div>
                <div class="col-md-8" data-appear-animation="fadeInRight">
                    <div id="textoHome3">
                        <h2 class="push-top"><strong>@localizer["Medidores_em_tempo_real"]</strong></h2>
                        <p class="lead">
                            @localizer["Os_medidores_instantaneos_trazem_resultados"]
                        </p>
                        <p>
                            @localizer["Os_resultados_sao_baseados"]
                        </p>
                    </div>
                </div>
            </div>
            <hr class="tall" />
            <div class="row">
                <div class="col-md-8" data-appear-animation="fadeInLeft">
                    <div id="textoHome4">
                        <h2 class="push-top">@localizer["Estude_com_licoes"] <strong>@localizer["EmIngles"]</strong></h2>
                        <p class="lead">
                            @localizer["Ao_trocar_a_lingua_do_sistema"]
                        </p>
                        <p>
                            @localizer["O_teclado_selecionado_inicialmente_pode_ser_modificado_pelo_digitador"]
                        </p>
                    </div>
                </div>
                <div class="col-md-4 push-top" data-appear-animation="fadeInRight">
                    <i class="fa fa-globe imgTxt4"></i>
                </div>
            </div>
            <hr class="tall" />
            <span class="button-container text-left">
                <a href="@localizer["LkInicianteLista"]" data-appear-animation="fadeInLeft" data-track-link="true" data-track-cta="View" data-track-type="how_it_works" data-track-id="21333" class="btn btn-lg btn-primary btn-min-width btnInicie2">
                    @localizer["IniciarAgoraMesmo"]
                </a>
            </span>
        </div>
    </div>
    @*<hr class="tall" />
        @Html.Partial(new ServicesPub().BuscarPub("AppSub"))
        <hr class="tall" />*@
</div>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="newsletter">
                    <span class="titRodape">@localizer["Contato"]</span>
                    <p>@localizer["DuvidasSugestoes"]</p>
                </div>
            </div>
            <div class="col-md-3">
                <div id="contatos" class="contact-details">
                    <span class="titRodape">@localizer["Contatos"]</span>
                    <ul class="contact">
                        <li><p><i class="fa fa-map-marker"></i> <strong>Local:</strong> @localizer["Brasil"]</p></li>
                        <li><p><i class="fa fa-phone"></i> <strong>@localizer["Telefone:"]</strong> (62) 981633777</p></li>
                        <li><p><i class="fa fa-envelope"></i> <strong>@localizer["Email"]</strong> <a href="#">marcos.ti.sistemas@gmail.com</a></p></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <span class="titRodape">@localizer["Desenvolvedor"]</span>
                <div class="col-md-4">
                    <div class="testimonial-author">
                        <div class="testimonial-author-thumbnail img-thumbnail">
                            <img src="~/images/marcosDesenvolvedor.jpg" alt="Curso de Digitação">
                        </div>
                    </div>
                </div>
                <div class="titDesenvolvedor col-md-6">
                    <p><strong>Marcos de Souza</strong> <br /><span> @localizer["DesenvolvedorDotNet"]</span></p>
                </div>
            </div>
            <div class="col-md-2">
                <span class="titRodape">@localizer["RedesSociais"]</span>
                <ul class="social-icons">
                    <li class="social-icons-facebook"><a href="#" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li class="social-icons-google-plus"><a href="#" target="_blank" title="Linkedin"><i class="fa fa-google-plus"></i></a></li>
                    <li class="social-icons-twitter"><a href="#" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li class="social-icons-linkedin"><a href="#" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <div style="font-size: 30px;font-family: monospace; color:#fff;">
                        <span> @localizer["DigiteMaisCom"] </span>
                    </div>

                </div>
                <div class="col-md-6">
                    <p style="font-size: 21px;padding-top: 31px; padding-left: 15%;">
                        © Copyright @DateTime.Now.Year. @localizer["TodosDireitosReservados"]
                    </p>
                </div>
                @*<div class="col-md-3">
                        <nav id="sub-menu">
                            <ul>
                                <li><a href="#" target="_blank">@localizer["EntendaMais</a></li>
                                <li><a href="/Home/About" target="_blank">@localizer["Sobre</a></li>
                                <li><a href="/Home/Contact" target="_blank">@localizer["Contato</a></li>
                            </ul>
                        </nav>
                    </div>*@
            </div>
        </div>
    </div>
</footer>