@model IEnumerable<TouchTypingGo.Application.ViewModels.LeconResultViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Try)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wpm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Errors)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EhAuthenticated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ErrorKey)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeconPresentationId)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Try)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wpm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Errors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EhAuthenticated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ErrorKey)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeconPresentationId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
